.section {
  width: 100vw;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
}

.article {
  width: 100px;
}

.article > img {
  width: 50%;
}
