.cartItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 90%;
  background-color: var(--ter-static-color);
  border-radius: 20px;
  border: 2px solid var(--main-effect-color);
  box-shadow: 4px 4px 4px var(--sec-effect-color);
}

.cartItem div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

h4 {
  max-width: 100px;
  margin: 1rem;
  font-size: 1rem;
}

.image {
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--main-effect-color);
  box-shadow: 4px 4px 4px var(--sec-effect-color);
  filter: drop-shadow(6px 2px 6px var(--sec-effect-color));
}

.itemProp p:nth-child(1) {
  font-weight: bolder;
}

.amountContainer {
  background-color: var(--main-static-color);
  box-shadow: 4px 4px 20px 2px var(--sec-effect-color);
  color: var(--sec-static-color);
  border-radius: 20px;
  padding: 1rem;
}

@media (max-width: 800px) {
  .cartItem {
    flex-direction: column;
    width: 80%;
  }

  .itemProp {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .image {
    width: 60%;
    margin-bottom: 2rem;
  }

  h4 {
    max-width: 90%;
    margin: 0;
  }

  .itemProp > p {
    margin: 0;
  }

  .cartItem div:nth-child(1) {
    flex-direction: column;
    width: 100%;
  }
}
