.profileBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
}

.profileBtn > p {
  margin: 0;
}

.profileBtn:hover > .userIcon {
  filter: drop-shadow(2px 2px 1px var(--main-effect-color));
}

.userIcon {
  width: 2rem;
}

.tooltip {
  position: absolute;
  bottom: -10px;
  right: 70px;
  background-color: var(--main-static-color);
  box-shadow: 4px 4px 20px 2px var(--sec-effect-color);
  color: var(--sec-static-color);
  width: 6rem;
  padding: 0.5rem;
  border-radius: 40px;
  visibility: hidden;
}

.profileBtn:hover > p > .tooltip {
  visibility: visible;
}
